@page "/"

<PageTitle>Minesweeper</PageTitle>

<MudText Typo="Typo.h3" GutterBottom="true">Minesweeper</MudText>
<MudText Class="mb-8">Welcome to your minesweeper game app, powered by MudBlazor!</MudText>

@* Gamebar *@
<div class="d-flex justify-space-around flex-grow-1 gap-4 align-center">
    <div>
        <MudText>Mines</MudText>
        <MudText Typo="Typo.h6">000</MudText>
    </div>
    <MudButton Variant="Variant.Filled">
        <MudIcon Icon="@Icons.Material.Filled.EmojiEmotions" Size="Size.Large" />
    </MudButton>
    <div>
        <MudText>Time</MudText>
        <MudText Typo="Typo.h6">000</MudText>
    </div>
</div>